<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Amazon Website">
    <test name="Automation Testing">
        <parameter name="BrowserName" value="chrome"></parameter>
        <classes>
            <class name="TestCases.FirstTest"></class>
        </classes>
    </test>
</suite>